@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900&display=swap');

:root{
    --primary-color: #FF6B6B;

}
*{
    box-sizing: border-box;
}
html{

}
body{
font-family: 'Montserrat', sans-serif;

}